# IMDB MOVIES DATASET

In [ ]:
import numpy as np
import pandas as pd

loading the csv file into a dataframe

In [ ]:
# reading file and escaping unicode decode error 
messy_data = pd.read_csv('Messy_data.csv',  encoding='unicode_escape')

viewing the content of the dataframe for data inspection

In [ ]:
 messy_data

In [ ]:
pd.set_option('display.max_rows', messy_data.shape[0]+1)
print(messy_data)

In [68]:
column_names = list(messy_data.columns.values)
column_names

['IMBD title ID',
 'Original titlÊ',
 'Release year',
 'Genrë¨',
 'Duration',
 'Country',
 'Content Rating',
 'Director',
 'Income',
 ' Votes ',
 'Score']

# cleaning rows under column 'release year'

In [ ]:
# convert column Release year to string to perform string functions
messy_data['Release year'] = messy_data['Release year'].astype(str)

In [ ]:
messy_data['Release year'] = messy_data['Release year'].replace(['The 6th of marzo, year 1951'], '06-03-1951')

In [ ]:
messy_data['Release year'] = messy_data['Release year'].replace(['1984-02-34'], '1984-02-24')

In [ ]:
messy_data['Release year'] = messy_data['Release year'].replace(['1976-13-24'], '1976-12-24')

In [ ]:
messy_data['Release year']= pd.to_datetime(messy_data['Release year'], format='mixed')

# cleaning data under column 'Country'

In [ ]:
messy_data['Country'].unique()

In [ ]:
messy_data['Country'] = messy_data['Country'].replace(['US', 'US.'], 'USA')

In [ ]:
messy_data['Country'] = messy_data['Country'].replace(['New Zesland', 'New Zeland'], 'New Zealand')

In [ ]:
messy_data['Country'] = messy_data['Country'].replace(['Italy1'], 'Italy')

Remove column 'Unnamed: 8'

In [ ]:
# remove column unnamed, contains no data
messy_data.drop('Unnamed: 8', inplace = True, axis=1)

In [ ]:
# cleaning data under column 'Income'

In [ ]:
messy_data['Income'] = messy_data['Income'].astype(str)

In [ ]:
messy_data['Income'] = messy_data['Income'].str.replace('$', '')

In [ ]:
messy_data['Income'] = messy_data['Income'].str.replace(',', '')

In [ ]:
messy_data['Income'] = messy_data['Income'].str.replace('4o8035783', '408035783')

In [ ]:
messy_data['Income']= messy_data['Income'].replace('nan',0)

In [ ]:
# convert column 'Income' to numeric
messy_data['Income'] = pd.to_numeric(messy_data['Income'])

cleaning rows in column ' votes '

In [ ]:
messy_data[' Votes '] = messy_data[' Votes '].astype('str')

In [ ]:
messy_data[' Votes '] = messy_data[' Votes '].str.replace('.', '')

In [ ]:
messy_data[' Votes '] = pd.to_numeric(messy_data[' Votes '], errors='coerce')

cleaning rows in column 'Scores'

In [ ]:
messy_data['Score'] = messy_data['Score'].astype(str)

In [ ]:
messy_data['Score'] = messy_data['Score'].replace(['8,9f', '9,.0', '8..8','8:08','8.7.', '8,7e-0','8,8e-0', '8,6'], ['8.9', '9.0', '8.8', '8.8','8.7','8.7', '8.8', '8.6'])

In [ ]:
messy_data['Score']= messy_data['Score'].replace('nan',0)

In [ ]:
messy_data['Score'] = pd.to_numeric(messy_data['Score'])

cleaning rows in column 'content Rating'

In [ ]:
messy_data['Content Rating'] = messy_data['Content Rating'].astype(str)

In [ ]:
messy_data['Content Rating']= messy_data['Content Rating'].replace(['NaN','nan'], 'PG')

In [ ]:
messy_data['Content Rating']= messy_data['Content Rating'].replace(['Approved', 'Not Rated', 'Unrated'], 'No Rating')

In [ ]:
messy_data.dropna(inplace = True)

cleaning column 'Duration'

In [ ]:
messy_data['Duration']= messy_data['Duration'].replace(['Not Applicable', '-', '178c', 'Nan', 'Inf'], ['124', '133', '178', '195', '139'])

In [ ]:
# updating value of a column using the loc function
messy_data.loc[4,"Duration"]= '154'

In [ ]:
 messy_data["Duration"]= messy_data["Duration"].astype(int)

In [ ]:
messy_data['Duration']=pd.to_datetime(messy_data.Duration, unit='m').dt.strftime('%H:%M')

In [ ]:
# dumping the cleaned file in a csv format
messy_data.to_csv('cleaned_copy.csv')